.sectionWrapper {
    height: auto;
    width: 100%;
    max-width: 123rem;
    min-height: 28rem;
    position: relative;

    margin: 0 auto;
    padding: 4rem 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.containerTitle {
    width: calc(25% + 0.75rem);
    z-index: 1;

    padding-bottom: 2em;
    border-bottom: 1px solid #bdbcb7;

    display: none;
}

.containerImg {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 100%;
    height: 45.5rem;
}

.containerImg img {
    position: absolute;
    width: auto;
    height: 20.5em;
    margin-top: 10em;
    /*max-height: 108%;*/
    right: 50%;
    opacity: 1;
    transform: translate(50%, 0%);
    transform-origin: center;
    overflow-clip-margin: content-box;
    overflow: clip;
    /*bottom: calc(-16rem + 2vw);*/
}

.containerInfo {
    height: auto;
    width: 100%;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .sectionWrapper {
        min-height: 38rem;
    }

    .containerTitle {
        display: block;
    }
    
    .containerImg img {
        margin-top: 6em;
        height: 36.5em;
    }
}

@media only screen and (min-width: 1024px) {

    .containerTitle {
        display: block;
    }
}
