.bg-home {
    background: url("/src/assets/img/valorant-3.jpg") center no-repeat fixed;
    background-size: cover;
    width: 100vw;
    height: 100%;

    position: relative;
}

.bg-home-container {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: auto;
}