@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "TungstenBold";
    src: local("TungstenBold"),
        url("./assets/fonts/Tungsten/Tungsten-Bold.otf") format("opentype");
}

@font-face {
    font-family: "ValorantFont";
    src: local("ValorantFont"),
        url("./assets/fonts/Valorant/ValorantFont.ttf") format("truetype");
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}

.font-tungsten-bold {
    font-family: "TungstenBold", sans-serif;
}

.font-valorant {
    font-family: "ValorantFont", sans-serif;
}

input {
    outline: none;
}
